@font-face {
  font-family: "Skirmisher";
  src: url("../fonts/skirmisher3d.eot?") format("eot"), url("../fonts/skirmisher3d.woff2") format("woff2"), url("../fonts/skirmisher3d.woff") format("woff"), url("../fonts/skirmisher3d.ttf") format("truetype"), url("../fonts/skirmisher3d.svg#Skirmisher") format("svg"); }
@font-face {
  font-family: "Retro Computer";
  src: url("../fonts/retro_computer.eot?") format("eot"), url("../fonts/retro_computer.woff2") format("woff2"), url("../fonts/retro_computer.woff") format("woff"), url("../fonts/retro_computer.ttf") format("truetype"), url("../fonts/retro_computer.svg#Retro_Computer") format("svg"); }
@font-face {
  font-family: "Yagiza";
  src: url("../fonts/yagiza.eot?") format("eot"), url("../fonts/yagiza.woff2") format("woff2"), url("../fonts/yagiza.woff") format("woff"), url("../fonts/yagiza.ttf") format("truetype"), url("../fonts/yagiza.svg#Yagiza") format("svg"); }
body {
  margin: 0;
  padding: 0;
  cursor: url("../img/ship.png"), default; }
  body a {
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
    cursor: url("../img/ship.png"), default; }
    body a:hover, body a :visited, body a :focus {
      color: yellow;
      cursor: url("../img/ship.png"), default; }
  body #main-content {
    position: absolute;
    top: 20%;
    width: 100%;
    -webkit-perspective: 30px;
    perspective: 30px; }
    body #main-content h1 {
      font-family: "Yagiza";
      font-size: 96px;
      color: yellow;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0px -5px 25px navy;
      -webkit-transform: rotateX(-5deg);
      transform: rotateX(-5deg); }
  body .top {
    position: absolute;
    top: 0%;
    width: 100%; }
    body .top p, body .top h2 {
      font-family: "Retro Computer";
      color: yellow; }
  body #player-one p, body #player-one h2 {
    text-align: left;
    margin-left: 32px; }
  body #high-score p, body #high-score h2 {
    text-align: center; }
  body #player-two p, body #player-two h2 {
    text-align: right;
    margin-right: 32px; }
  body #menu {
    position: absolute;
    top: 60%;
    width: 100%; }
    body #menu h2 {
      font-family: "Retro Computer";
      font-size: 32px;
      color: yellow;
      text-align: center;
      margin: 0; }
